
/* Your CSS Code here. */
 main{
    width: 200px;
	
    padding: 10px;
    border: solid ;
    border-color: white;
    border-left-width: 5px;
    border-left-color: green ;
    background-color: purple;
}
#heading{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
